El fichero «titanic.csv» contiene información sobre los pasajeros del Titanic. Escribir un programa
con los siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los
nombres de sus columnas, los tipos de datos de las columnas, las 10 primeras filas y las 10
últimas filas
3. Mostrar por pantalla los datos del pasajero con identificador 148.
4. Mostrar por pantalla las filas pares del DataFrame.
5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas
alfabéticamente.
6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
8. Eliminar del DataFrame los pasajeros con edad desconocida.
9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
10. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
11. Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada
clase.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
#1
titanic_df = pd.read_csv('titanic.csv')
#2
titanic_df.info()
titanic_df.head(10)
titanic_df.tail(10)
#3
titanic_df.query('PassengerId == 148')
#4
titanic_df[::2]
#5
titanic_df.query('Pclass == 1').sort_values('Name')
#6
supervivientes = titanic_df.agg({'Survived':'mean'})
datos = [supervivientes['Survived'], 1-supervivientes['Survived']]
etiquetas = ['Supervivientes', 'Víctimas']
plt.pie(datos, labels=etiquetas, autopct='%1.1f%%', startangle=90)
plt.title('Porcentaje de supervivientes y víctimas')
plt.show()
#7
supervivientes = titanic_df.groupby('Pclass').agg({'Survived':'mean'})
supervivientes = supervivientes['Survived'].apply(lambda x: x*100)
supervivientes.plot(kind='bar').set_ylim(0,100)
plt.title('Porcentaje de supervivientes por clase')
plt.show()
#8
titanic_df = titanic_df.dropna(subset=['Age'])
titanic_df['Age'].unique()
#9
titanic_df.query("Sex == 'female'").groupby("Pclass").agg({'Age':'mean'})
#10
titanic_df.loc[titanic_df.query('Age < 18').index, 'menor'] = True
titanic_df.loc[titanic_df.query('Age >= 18').index, 'menor'] = False
#11
menores = titanic_df.groupby("menor").agg({'menor':'count'})
menores.plot(kind='pie', labels=['Mayor', 'Menor'],subplots='True', autopct='%1.1f%%', startangle=90)
plt.title('Porcentaje de menores y mayores')
plt.show()

Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv,
contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017,
2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:
1. Generar un DataFrame con los datos de los cuatro ficheros.
2. Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION,
MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.
3. Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los
días aparezcan en una única columna.
4. Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el
módulo datetime).
5. Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y
ordenar el DataFrame por estaciones contaminantes y fecha.
6. Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
7. Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva
una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.
8. Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.
9. Mostrar un resumen descriptivo para cada contaminante por distritos.
10. Crear una función que reciba una estación y un contaminante y devuelva un resumen
descriptivo de las emisiones del contaminante indicado en la estación indicada.
11. Crear una función que devuelva las emisiones medias mensuales de un contaminante y un
año dados para todos las estaciones.
12. Crear un función que reciba una estación de medición y devuelva un DataFrame con las
medias mensuales de los distintos tipos de contaminantes.

In [66]:
#1
emisiones_2016 = pd.read_csv('emisiones-2016.csv', delimiter=';')
emisiones_2017 = pd.read_csv('emisiones-2017.csv', delimiter=';')
emisiones_2018 = pd.read_csv('emisiones-2018.csv', delimiter=';')
emisiones_2019 = pd.read_csv('emisiones-2019.csv', delimiter=';')
emisiones_df = pd.concat([emisiones_2016, emisiones_2017, emisiones_2018, emisiones_2019])
#2
filtrado1 = emisiones_df.loc[:, ['ESTACION', 'MAGNITUD', 'ANO', 'MES']]
filtrado2 = emisiones_df.iloc[:, 7::2]
emisiones_df = pd.concat([filtrado1, filtrado2], axis=1)
#3
emisiones_df['CONTAMINANTES'] = emisiones_df[emisiones_df.columns[4:]].apply(
    lambda x: ';'.join(x.dropna().astype(str)),
    axis=1
)
emisiones_df = emisiones_df.drop(columns=emisiones_df.columns[4:35])
#4

,ESTACION,MAGNITUD,ANO,MES,CONTAMINANTES
0,4,1,2016,1,8.0;7.0;6.0;6.0;7.0;6.0;6.0;6.0;6.0;6.0;6.0;7....
1,4,1,2016,2,12.0;13.0;9.0;9.0;11.0;9.0;7.0;7.0;7.0;7.0;7.0...
2,4,1,2016,3,11.0;10.0;9.0;9.0;7.0;8.0;8.0;8.0;9.0;8.0;9.0;...
3,4,1,2016,4,8.0;9.0;9.0;8.0;8.0;9.0;9.0;8.0;8.0;7.0;7.0;8....
4,4,1,2016,5,7.0;8.0;9.0;9.0;8.0;8.0;7.0;7.0;7.0;8.0;7.0;7....